*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Parte do Home*/
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    z-index: 3;
}

nav{
    margin: 0px 10px;
    width: 90%;
}

.ajuste-nav{
    position: relative;
    margin-right: 0;
}

.navbar a{
    position:  relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    justify-self: flex-end
}

.navbar a:hover{
    color: red;
    text-decoration: dashed red;
}

.logo{
    padding: 10px;
    cursor: pointer;
}

.navbar .btnLogin-popup{
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btnLogin-popup:hover{
    background-color: red;
    color: #fff;
    border-bottom: 2px solid red;
    z-index: 15;
}

.footer{
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #404040;
    color: #fff;
    align-items: center;
    text-align: center;
}

.carousel-control-prev{
    height: 50%;
    margin-top: 15%;
}

.carousel-control-next{
    height: 50%;
    margin-top: 15%;
}
/*Fim do Home*/


/*Parte do Sobre*/
.conteiner-sobre{
   width: auto;
   height: 200vh;
   display: flex;
   margin: 20px solid rgba(0,0,0,0.2);
   scroll-behavior: auto;
}

.conteiner-sobre p{
    text-align: left;
    font-size: large;
}

.img-fluid{
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.text-center{
    margin-top: 2%;
}

.segunda-parte{
    margin-top: 2%;
}

/*Fim do sobre*/

/*Inicio do Cursos*/

.conteiner{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
}

.conteiner .titulo-cursos{
    text-align: center;
    padding-top: 2%;
}

.conteiner aside{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-left: 2%;
    cursor: pointer;
}

.list-group-item:hover{
    transform: scale(110%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
    z-index: 999;
}

.conteiner-center{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-grow: 1;
}

.cursos-main{
    background-color: #707070;
    color: #fff;
    text-align: left;
    width: 100%;
    padding: 10px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2); 
}

.cursos-main h3{
    text-align: left;
    margin: 2%;
    color: red;
    max-width: 90%;
}

.cursos-nome-curso{
    color: #fff;
}

.cursos-main p{
    margin-left: 5%;
    font-size: 1.125rem;
    max-width: 500px;
}

.conteiner-ano-curso{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 500px;
}

.ano-curso{
    margin-left: 5%;    
}

.conteiner-ano-curso{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ano-curso{
    font-size: 1.125rem;
    border: none;
    width: 110%;
    border-bottom: 2%;
    border-left: 0;
    border-right: auto;
}

.ano-curso:hover{
    background-color: #fff;
    color: #404040;
    transform: scale(110%);
}

/*Fim do Cursos*/

/*Inicio do Contato*/

.conteiner-contato{
    min-height: 100vh;
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner-contato h2{
    margin-left: auto;
    margin-right: auto;
}

.conteiner-contato form{
        width: 80%;
}

.mb-3{
    width: 100%;
}

.conteiner-contato label{
    margin-left: 1%;

}


.conteiner-contato input{
    width: 50%;
    position: relative;
    margin: 15px 0;
    background-color: transparent;
}

.form-control{
    resize: none;
}

#btn-enviar{
    border: 2px solid #404040;
    background-color: #fff;
    width: 150px;
    margin-top: 10px;
    transition: .3s;
    &:hover{
        background-color: #404040;
        color: #fff;
    }
}

/*Fim do Contato*/